.section {
  background-color: #0d0e11;
  width: 100vw;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-section-two {
  text-align: center;
  margin-top: 88px;

  p {
    margin-top: 72px;
    margin-bottom: 8px;
    font: var(--subtitle);
    color: var(--red);
  }

  h1 {
    font: var(--title-md);
    color: var(--gray-600);
    margin-bottom: 56px;
  }
}